{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/registration/style.css' %}">

<div class="login-page">
  <div class="form">
     <form class="login-form" method="post">
         {% csrf_token %}
      <input type="text" placeholder="username" name="username"/>
      <input type="password" placeholder="password" name="password1"/>
      <input type="password" placeholder="password" name="password2"/>
      <input type="email" placeholder="email" name="email"/>
      <button>Create Account</button>
      <p class="message">Already registered? <a href="{% url 'login' %}">Sign In</a></p>
    </form>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
